.form-search {
  width: 100%;
  height: 60px;
  font-size: 14px;
}


.drilldownSelect {
  position: relative;
}

.drilldownSelect .drilldownList {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  /* border-radius: $radius-small; */
  /* border-color: $border-color-gray5; */
  border-style: solid;
  border-width: 1px;
  display: none;
}

.drilldownSelect .drilldownList.show {
  display: flex;
}

.drilldownSelect .drilldownList .drilldownList-column {
  width: 50%;
  /* border-right-color: $border-color-gray5; */
  border-right-style: solid;
  border-right-width: 1px;
}

.drilldownSelect .drilldownList .drilldownList-column:last-child {
  border-right: 0;
}

.drilldownSelect .drilldownList .drilldownList-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drilldownSelect .drilldownList .drilldownList-list-item {
  line-height: 14px;
  padding: 20px 10px;
  cursor: pointer;
}

.drilldownSelect .drilldownList .drilldownList-list-item:hover {
  background-color: rgba(0,0,0,0.1);
}

.drilldownSelect .drilldownList .drilldownList-list-item:hover {
  /* background-color: $background-color-gray1; */
}

.drilldownSelect .drilldownList .drilldownList-list-item.selected {
  /* background-color: $background-color-selected; */
}

.drilldown-pulldown {
  position: relative;
}

.drilldown-pulldown .icon-pulldown {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
}